* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: lightskyblue;
}
header {
    text-align: center;
    font-family: "Noto Sans S", sans-serif;
}
main {
    display: flex;
    flex-direction: column;
    height: 50%;
}
.containerInputMap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
.map{
    height: 100%;
}
.results {
    width: 100%;
}
.details{
    padding: 10px;
    font-family: "Roboto", sans-serif;
    background-color: rgba(255, 255, 255, 0.79);
    background-blend-mode: lighten;
    border: 1px solid black;
}
.events {
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
}
li {
    cursor: pointer;
    list-style-type: none;
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
}
h3 {
    font-family: "Noto Sans S", sans-serif;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;

}
label {
    font-family: "Noto Sans S", sans-serif;
}
form {
    padding: 10px;
}

/* Display for larger screens */
@media only screen and (min-width: 381px) {
  main {
    flex-flow: row;
    width: 100%; 
  }
  .inputForm {
    height: 50px;
  }
  .details {
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
}